<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration  
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>  
        <setting name="logImpl" value="LOG4J"/>  
		 <!--<setting name="cacheEnabled" value="true"/>  默认值true 缓存是启动的 -->
		 <!--<setting name="lazyLoadingEnabled" value="true"/>默认是false，全局启用或禁用延迟加载 --> 
		<setting name="multipleResultSetsEnabled" value="true"/><!-- 允许或不允许多种结果集从一个单独 的语句中返回(需要适合的驱动) -->  
		<setting name="useGeneratedKeys" value="true"/><!-- 允许 JDBC 支持生成的键,根据驱动，默认false -->  
		<setting name="autoMappingBehavior" value="FULL"/><!-- PARTIAL只会自动映射简单, 没有嵌套的结果。FULL会自动映射任 意复杂的结果(嵌套的或其他情况) ,默认PARTIAL -->  
		<setting name="defaultExecutorType" value="REUSE"/><!-- SIMPLE 执行器没 有什么特别之处。REUSE 执行器重用 预处理语句。BATCH 执行器重用语句 和批量更新，默认simple -->  
		<setting name="defaultStatementTimeout" value="25000"/>  
	</settings>
	<typeAliases>
		<typeAlias type="com.demo.user.model.User" alias="User" />
		<typeAlias type="com.demo.user.model.Address" alias="Address" />
	</typeAliases>
</configuration>